@page "/"
@attribute [StreamRendering]
<PageTitle>Home</PageTitle>

<section class="mx-auto mt-6 max-w-screen-lg">
	<div class="bg-gradient-to-tl from-primary via-purple-500 to-pink-500 relative p-1 animate-fade-up">
		<div class="bg-base-100 shadow-lg shadow-primary/20 space-y-8 p-2">
			<span class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white absolute top-0 left-0 -translate-y-1/2 py-2 px-4 cursor-help text-base">
				About Fadi Labs
			</span>
			<section class="flex flex-col gap-4">
				<p class="text-secondary text-lg font-bold underline underline-offset-4">
					Inforamtion about Fadi Labs
				</p>
				<ul class="list-disc ml-6 space-y-2 marker:text-primary">
					<li><strong>Fadi Labs</strong> is a software project inspired by the principles of modular architecture but built with an opinionated design tailored to my vision.</li>
					<li>It serves as both a platform for improving my programming skills and a personal portfolio.</li>
					<li>The name combines my first name, Fadi, with the concept of "Labs," representing a collection of purpose-driven modules, or "labs," each focused on delivering specific functionality.</li>
					<li>While not strictly modular, each lab in Fadi Labs is designed to be self-contained and cohesive, offering unique features that seamlessly integrate into the overall system.</li>
				</ul>
			</section>

			<section class="flex flex-col gap-4">
				<p class="text-secondary text-lg font-bold underline underline-offset-4">
					Current Labs
				</p>
				<ul class="list-decimal ml-6 space-y-2 marker:text-primary">
					<li>
						<p class="font-bold">Authentication Lab</p>
						<p>
							The Authentication Lab provides login and logout functionality for Fadi Labs.
							It enables users to authenticate securely and allows for the storage of user-specific data and settings, paving the way for labs that require personalized experiences.
						</p>
					</li>
					<li>
						<p class="font-bold">Blog Lab</p>
						<p>
							The Blog Lab is a personal blogging platform where I share programming tutorials and document my experiences.
							As the sole author, I manage the content by creating, editing, and deleting posts. Visitors can browse and read posts to learn from my journey and insights.
						</p>
					</li>
				</ul>
			</section>

			<section class="flex flex-col gap-4">
				<p class="text-secondary text-lg font-bold underline underline-offset-4">
					Purpose
				</p>
				<ul class="list-decimal ml-6 space-y-2 marker:text-primary">
					<li>To enhance my programming skills by designing and building practical, real-world features.</li>
					<li>To showcase my work in a structured and extensible system that evolves over time.</li>
					<li>To create a platform that is not only functional but also enjoyable, with the hope that users will find it valuable and engaging enough to integrate into their daily routines.</li>
					<li>To evolve as a toolset capable of addressing real-world problems, by channeling programming efforts toward creating solutions that make a tangible impact.</li>
				</ul>
				<p class="text-secondary">
					At its core, Fadi Labs is driven by a passion for crafting meaningful software that balances technical growth, user-centric design, and practical utility.
				</p>
			</section>
		</div>
	</div>
</section>