@page "/about"
@attribute [ExcludeFromInteractiveRouting]

<PageTitle>About</PageTitle>

<div class="bg-gradient-to-tl from-primary via-purple-500 to-pink-500 relative p-1 max-w-xl mx-auto mt-8 animate-fade-up" data-observer-animate data-permanent>
	<div class="bg-base-100 shadow-lg shadow-primary/20 space-y-6 p-4">
		<div class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2">
			<img class="w-24 h-24 rounded-full" src="@Assets["_content/Shared.Components/favicon.png"]" />
		</div>
		<div class="space-y-8 overflow-hidden">
			<h1 class="text-4xl text-center">
				Hi!👋 I'm <span class="text-primary italic">Fadi</span> 😎
			</h1>
			<div class="bg-black text-center">
				<code class="inline-block align-middle text-lg overflow-hidden text-green-600 p-1">
					I'm a Programmer who enjoys a midnight coffee☕.<span class="text-white font-bold animate-ping animate-infinite animate-duration-700">|</span>
				</code>
			</div>
		</div>
	</div>
</div>

<!-- About Me ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="mx-6 my-12" data-permanent>
	<div class="bg-gradient-to-tl from-primary via-purple-500 to-pink-500 relative p-1 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up group" data-observer-animate>
		<div class="bg-base-100 shadow-lg shadow-primary/20 space-y-6 p-4">
			<span class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white absolute top-0 left-0 -translate-y-1/2 py-2 px-4 cursor-help text-base transition origin-left delay-500 group-[.animate]:rotate-[-10deg]">
				About Me
			</span>
			<p class="text-secondary text-lg font-bold underline underline-offset-4">
				Firstly, thank you for taking the time to learn about me :)
			</p>
			<section class="italic space-y-4">
				<p class="">
					I am a software developer based in Sweden with a strong passion for web technology. My main focus is on C#/.NET
					as I strive to master both front-end and back-end development.
				</p>
				<p class="">
					In my `productive` free time, I immerse myself in watching conferences and reading blogs about the latest tech.
					During my leisure hours, I find joy in reading novels, playing FPS games, and watching movies and TV series,
					all while patiently waiting for the next cup of coffee as too much is not good🤞.
				</p>
				<p class="">
					Additionally, I dedicate time to working on programming projects, fueling my passion for technology.
					Nevertheless, I strive to find enjoyment with what I do, whether I consider it productive or not.
				</p>
			</section>
		</div>
	</div>
</section>

<!-- Programming Journey ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="mx-auto my-12 max-w-screen-lg" data-permanent>
	<div class="bg-gradient-to-tl from-primary via-purple-500 to-pink-500 relative p-1 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade group"
			 data-observer-animate>
		<div class="bg-base-100 shadow-lg shadow-primary/20">
			<span class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white font-bold absolute top-0 left-0 -translate-y-1/2 py-2 px-4 cursor-help transition origin-left delay-500 group-[.animate]:rotate-[-10deg]">
				Programming Journey.
			</span>
			<p class="text-2xl px-4 py-10 bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white">
				From coding challenges to professional growth,
				join me in navigating the dynamic world of software development.
				<span class="text-2xl">TLDR;</span> (3~4 min).
			</p>

			<div class="space-y-14 p-2" >
				<!-- Programming Journey Chapter 1 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="flex flex-col gap-2 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up" data-observer-animate>
					<p class="p-2 self-start text-secondary text-lg">
						🌱 Where it all started 1/5.
					</p>

					<ul class="list-disc ml-6 space-y-2 marker:text-primary">
						<li>
							Late-night candlelight, a cup of coffee to keep me awake, and no computer or electricity, just a book about programming, attempting to make sense out of it all.
						</li>
						<li>
							At 17, I thought catching up to those amazing programmers was impossible. Surprise, I eventually did—kind of. While infinity may be unreachable, I'm steadily approaching.
						</li>
						<li>
							Thinking back to those days, exhaustion was a foreign concept. I took pride in running "Hello, World!" despite some tech hiccups. It just reminded me that I had a lot to learn to catch up with the wider programming world. But hey, I was young and sure about what I wanted to be: a smart-*** developer, because who wouldn't want to be one, right?
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 2 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="flex flex-col gap-2 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up" data-observer-animate>
					<p class="p-2 self-start text-secondary text-lg">
						👀 People Can see your passion 2/5.
					</p>

					<ul class="list-disc ml-6 space-y-2 marker:text-primary">
						<li>
							With a strong passion and an opportunity that presented itself, I found my first job with the title of Entry Level Application Developer. There, I received training in C# and experienced the diverse world of programming, from building web applications to developing games with Unity and cross-platform mobile applications with Xamarin.
						</li>
						<li>
							Despite this, I still managed to balance my professional growth with my studies as a Computer Systems Engineer at university.
						</li>
						<li>
							I also made time for another passion of mine, playing basketball 🏀.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 3 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="flex flex-col gap-2 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up" data-observer-animate>
					<p class="p-2 self-start text-secondary text-lg">
						🌅 Reflections on Progress 3/5.
					</p>

					<ul class="list-disc ml-6 space-y-2 marker:text-primary">
						<li>
							Starting anew in Sweden, it feels like a new life, a fresh beginning. It's like hitting the reset button and embarking on a journey of starting all over again.
						</li>
						<li>
							Life moved fast; after completing an IT training in Sweden, I secured a job under the title System Developer, a role that not only expanded my technical knowledge but also provided valuable life experiences and instilled a sense of responsibility.
						</li>
						<li>
							At this point, I find myself at an age similar to someone who has just graduated, equipped with a blend of academic studies and work experience. Yet, despite these accomplishments, there lingers a sense of having lifted a heavy weight, prompting me to reflect on what might be missing.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 4 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="flex flex-col gap-2 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up" data-observer-animate>
					<p class="p-2 self-start text-secondary text-lg">
						🔄 A Restart is needed 4/5.
					</p>

					<ul class="list-disc ml-6 space-y-2 marker:text-primary">
						<li>
							Similar to a memory leak in a program that goes unnoticed, the fatigue accumulated over the years as I kept running non-stop. A health break became a necessity.
						</li>
						<li>
							After a crucial break, my health restored, but not all the memory leaked. This marks a pivotal restart, driven by a commitment to be the best, optimizing every aspect for the road ahead.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 5 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="flex flex-col gap-2 opacity-0 [&.animate]:opacity-100 [&.animate]:animate-fade-up" data-observer-animate>
					<p class="p-2 self-start text-secondary text-lg">
						🌄 The Beginning after the end 5/5.
					</p>
					<ul class="list-disc ml-6 space-y-2 marker:text-primary">
						<li>
							Yet again, this feels like a new start, but is it really? Armed with experience and knowledge of past mistakes, unlike before, I am committed to documenting the journey until the next beginning unfolds.
						</li>
						<li>
							The journey continues, writing its story until something interesting happens...
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<PageScript Src="@($"./_content/Modules.Home.Components/Home/About.razor.js")" />