@page "/blog"
@page "/blog/{page:int}"

<PageTitle>Latest Post</PageTitle>

<NavBarLoading Show="@(!_result.IsDefined || serviceExecutor.IsRequestLoading(nameof(GetPosts)))" />

<div class="flex flex-col">
	<div class="flex flex-col gap-4">
		@if (!string.IsNullOrEmpty(Tag) || !string.IsNullOrEmpty(SearchQuery))
		{
			<div class="bg-primary text-primary-content sticky top-0 p-2 flex flex-wrap items-center gap-2">
				<span class="text-2xl italic">Filters: </span>

				@if(!string.IsNullOrEmpty(Tag))
				{
					<a class="btn btn-sm"
						 href="@GetClearFilterLink("tag")">
						<span>
							<strong>Tag:</strong>
							@Tag
						</span>
						<svg class="inline h-6 w-6 text-error" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g id="SVGRepo_iconCarrier">
								<path d="M16.95 8.464a1 1 0 0 0-1.414-1.414L12 10.586 8.464 7.05A1 1 0 1 0 7.05 8.464L10.586 12 7.05 15.536a1 1 0 1 0 1.414 1.414L12 13.414l3.536 3.536a1 1 0 0 0 1.414-1.414L13.414 12l3.536-3.536Z"
											fill="currentColor">
								</path>
							</g>
						</svg>
					</a>
				}
				
				@if(!string.IsNullOrEmpty(SearchQuery))
				{
					<a class="btn btn-sm"
						 href="@GetClearFilterLink("q")">
						<span>
							<strong>Search:</strong>
							@SearchQuery
						</span>
						<svg class="inline h-6 w-6 text-error" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g id="SVGRepo_iconCarrier">
								<path d="M16.95 8.464a1 1 0 0 0-1.414-1.414L12 10.586 8.464 7.05A1 1 0 1 0 7.05 8.464L10.586 12 7.05 15.536a1 1 0 1 0 1.414 1.414L12 13.414l3.536 3.536a1 1 0 0 0 1.414-1.414L13.414 12l3.536-3.536Z"
											fill="currentColor">
								</path>
							</g>
						</svg>
					</a>
				}
			</div>
		}
		
		@if (!_result.IsDefined)
		{
			<div class="flex flex-col items-end">
				<div class="skeleton h-8 w-36"></div>
			</div>
			<PostListItemSkeleton Count="5" />
		}
		else if (_result.IsFailed)
		{
			<ResultError Error="_result.Error" />
		}
		else
		{
			@if (_result.Entity.TotalCount == 0)
			{
				<div class="bg-base-200 p-4 flex flex-col shadow">
					<h1 class="text-xl tracking-tight">
						Hey! 👋 No posts yet, but stay tuned! It's just me here, a programmer, cooking up some exciting content for you. Thanks for your patience! 🚀
					</h1>
				</div>
			}
			else
			{
				<PagedListResult PagedList="_result.Entity" />

				@foreach (var post in _result.Entity.Items)
				{
					<PostListItemView Post="post" />
				}

				<PagedListResult PagedList="_result.Entity" />
			}
		}
	</div>
</div>
