@inherits LayoutComponentBase
@inject NavigationManager Navigation

<main class="group flex h-full flex-col">
	<!-- Top Header -->
	<div class="navbar bg-base-300">

		<!-- Navbar menu button-->
		<label for="sideMenuToggleId"
					 id="sideMenuToggleLabelId"
					 class="btn swap swap-rotate"
					 data-permanent>
			<!-- hamburger icon -->
			<svg class="w-8 h-8 swap-off fill-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
			</svg>

			<!-- close icon -->
			<svg class="w-8 h-8 swap-on fill-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
			</svg>

			<!--Checked True  (Open)-->
			<!--Checked False (Close)-->
			<input type="checkbox"
						 id="sideMenuToggleId" />
		</label>

		<!-- Navbar title-->
		<div class="mx-2 mr-auto px-2">
			<p class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 bg-clip-text text-transparent text-3xl font-bold italic">
				Fadi Labs
			</p>
		</div>

		@* <div class="flex-1 justify-end overflow-hidden">
			<ul class="menu menu-horizontal px-1 py-0">
				<!-- Navbar menu content here -->
			</ul>
		</div> *@
	</div>

	<div class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 relative h-1 overflow-hidden">
		<div class="absolute -left-full top-0 h-1 w-full bg-base-100"></div>
	</div>

	<main class="flex-1 relative flex overflow-hidden" id="main-body">
		<!-- Side Drawer Content -->
		<NavMenu />

		<!-- Body Content -->
		<div class="flex-1 relative flex flex-col overflow-hidden">
			<div class="h-full overflow-auto scroller">
				<div class="p-2 flex flex-col gap-2">
					@Body
				</div>
			</div>
		</div>
	</main>

	<!-- Bottom Footer -->
	<footer class="text-center text-xs">© 2024 Fadi Ksho | Built with ❤ using .NET @Environment.Version.Major & Blazor</footer>
</main>

<div id="blazor-error-ui" class="bg-error text-white">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

<PageScript Src="@($"./_content/Shared.Components/Layout/Modules/MainLayout.razor.js")" />