<div id="navMenuContainerId"
		 class="z-10 transition-margin bg-base-300 absolute inset-0 -ml-60 flex w-60 flex-col">

	<LogInButton />

	<div class="flex-1 overflow-auto scroller">
		<ul class="menu gap-1 bg-base-200">
			<NavMenuLoginItem />
			<NavMenuHomeItem />
		
			<LabAuthorizeView LabPermissions="LabsPermissions.ConfigureSite">
				<Authorized>
					<NavMenuTestsItem />
					<NavMenuBlogLabItem />
					<NavMenuUserLabItem />
					<NavMenuAuth0LabItem />
				</Authorized>
			</LabAuthorizeView>
			<NavMenuSettingItem />
		</ul>
	</div>
</div>

<!--Overlay-->
<label for="sideMenuToggleId"
			 id="navSideMenuOverlayId"
			 class="bg-black/70 z-[9] absolute inset-0 hidden">
</label>
