@page "/Error"
@layout global::Web.Static.Shared.Layout.Home.HomeLayout

@attribute [ExcludeFromInteractiveRouting]

<div class="tw-bg-gradient-to-tl tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-p-1 tw-mt-6">
	<div class="tw-bg-base-100 tw-shadow-lg tw-shadow-primary/20 tw-space-y-8 tw-p-2">
		<div class="tw-text-center tw-font-mono">
			<pre class="tw-text-error tw-text-sm sm:tw-text-xl md:tw-text-2xl tw-overflow-hidden">
 ______                     
|  ____|                    
| |__   _ __ _ __ ___  _ __ 
|  __| | '__| '__/ _ \| '__|
| |____| |  | | | (_) | |   
|______|_|  |_|  \___/|_|   
	</pre>
			<div>
				<h2 class="tw-text-error">Oops! Something went wrong.</h2>
				@if (!string.IsNullOrEmpty(RequestId))
				{
					<p class="tw-mt-2 tw-text-sm">
						<strong>Request ID:</strong>
						<code id="request-id" class="tw-inline-block tw-break-all tw-bg-black tw-text-white tw-p-1">@RequestId</code>
					</p>
				}
			</div>
		</div>
		<div class="tw-flex tw-justify-center">
			<a class="tw-btn tw-btn-primary sm:tw-btn-wide tw-mt-4" href="/">
				Refresh
			</a>
		</div>
	</div>
</div>

@code {
	[CascadingParameter]
	private HttpContext? HttpContext { get; set; }

	private string? RequestId { get; set; }

	protected override void OnInitialized() =>
					RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
