@code {
	[Parameter, EditorRequired]
	public List<string> Tags { get; set; } = [];

	[Parameter]
	public string Path { get; set; } = "";

	[Inject]
	private NavigationManager Navigation { get; set; } = default!;

	private string GetTagQueryString(string tag)
	{
		var uri = Navigation.GetUriWithQueryParameters(
			Navigation.GetBaseUriWithPath(Path),
			new Dictionary<string, object?>
				{
					["page"] = null,
					["tag"] = tag
				}
		);

		return uri;
	}
}

<div class="flex flex-wrap mb-4 ml-2 pl-2 border-l-2">
	@foreach (var tag in Tags)
	{
		<a class="mr-3 btn btn-ghost btn-sm uppercase"
			 href="@GetTagQueryString(tag)">
			@tag
		</a>
	}
</div>