@code {
	[Parameter, EditorRequired]
	public List<string> Tags { get; set; } = [];

	[Parameter]
	public string Path { get; set; } = "";

	[Inject]
	private NavigationManager Navigation { get; set; } = default!;

	private string GetTagQueryString(string tag)
	{
		var uri = Navigation.GetUriWithQueryParameters(
			Navigation.GetBaseUriWithPath(Path),
			new Dictionary<string, object?>
				{
					["page"] = null,
					["tag"] = tag
				}
		);

		return uri;
	}
}

<div class="tw-flex tw-flex-wrap tw-mb-4 tw-ml-2 tw-pl-2 tw-border-l-2">
	@foreach (var tag in Tags)
	{
		<a class="tw-mr-3 tw-btn tw-btn-ghost tw-btn-sm tw-uppercase"
			 href="@GetTagQueryString(tag)">
			@tag
		</a>
	}
</div>