@code {
	[Parameter]
	public AlertMessageType Type { get; set; }

	[Parameter]
	public string? MessageText { get; set; }

	[Parameter]
	public RenderFragment? Body { get; set; }

	[Parameter]
	public RenderFragment? Footer { get; set; }

	private MessageTemplate? messageTemplate;

	protected override void OnInitialized()
	{
		messageTemplate = Type switch
		{
			AlertMessageType.Info => new MessageTemplate
					{
						CssClass = "bg-info text-info-content",
						SVGPath = @<path stroke-linecap="round"
														 	stroke-linejoin="round"
														 	stroke-width="2"
														 	d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>,
			},
			AlertMessageType.Success => new MessageTemplate
			{
				CssClass = "bg-success text-success-content",
				SVGPath = @<path stroke-linecap="round"
												 	stroke-linejoin="round"
												 	stroke-width="2"
												 	d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>,
			},
			AlertMessageType.Warning => new MessageTemplate
			{
				CssClass = "bg-warning text-warning-content",
				SVGPath = @<path stroke-linecap="round"
												 	stroke-linejoin="round"
												 	stroke-width="2"
												 	d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
			},
			AlertMessageType.Error => new MessageTemplate
			{
				CssClass = "bg-error text-error-content",
				SVGPath = @<path stroke-linecap="round"
												 	stroke-linejoin="round"
												 	stroke-width="2"
												 	d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
			},
			_ => new MessageTemplate
			{
				CssClass = "bg-base-200",
				SVGPath = @<path stroke-linecap="round"
												 	stroke-linejoin="round"
												 	stroke-width="2"
												 	d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
			}
		};
	}

	private class MessageTemplate
	{
		public required string CssClass { get; set; }
		public RenderFragment? SVGPath { get; set; }
	}
}


<div role="alert" class="flex flex-col p-2 @messageTemplate?.CssClass gap-4 shadow-lg">
	<div class="flex gap-2">
		<svg xmlns="http://www.w3.org/2000/svg"
				 fill="none"
				 viewBox="0 0 24 24"
				 class="stroke-current h-6 w-6 shrink-0">
			@messageTemplate?.SVGPath
		</svg>
		<div class="break-words flex-1">
			@if (!string.IsNullOrEmpty(MessageText))
			{
				<h1 class="font-bold">@MessageText</h1>
			}
			else if (Body != null)
			{
				@Body
			}
		</div>
	</div>
	<div class="flex flex-wrap gap-1 justify-end">
		@Footer
	</div>
</div>


