@if (parsed)
{
  <span class="mr-2">@_dateTime.ToLocalTime()</span>
  @if(_dateTime - DateTimeOffset.Now > TimeSpan.Zero)
  {
    <span class="text-success">Valid (@((_dateTime - DateTimeOffset.Now).ToString(@"hh\:mm\:ss")))</span>
  }
  else
  {
    <span class="text-error">Expired</span>
  }
}
else
{
  <span>Parse Error!</span>
}


@code {
  [Parameter]
  [EditorRequired]
  public required string DateTime { get; set; }

  bool parsed = false;
  DateTimeOffset _dateTime;

  protected override void OnParametersSet()
  {
    parsed = DateTimeOffset.TryParse(DateTime, out _dateTime);
  }
}

