<div class="mx-auto w-full max-w-screen-lg @CssClass" @attributes="Attributes">
  @ChildContent
</div>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public string? CssClass { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object>? Attributes { get; set; }
}