<AlertMessage Type="AlertMessageType.Default">
  <Body>
    Render Mode:
    <span class="text-primary font-bold">@RendererInfo.Name</span>
    <div class="text-xs">@($"Is Interactive: {RendererInfo.IsInteractive}")</div>
  </Body>
</AlertMessage>