<div class="flex flex-col gap-2">
	<AlertMessage MessageText="Default message...."
								Type="AlertMessageType.Default">
		<Footer>
			<a class="btn btn-sm" href="#">Go to Edit</a>
			<button class="btn btn-sm">Close</button>
		</Footer>
	</AlertMessage>

	<AlertMessage MessageText="Succesfull message...."
								Type="AlertMessageType.Success">
		<Footer>
			<a class="btn btn-success btn-sm" href="#">Go to Edit</a>
			<button class="btn btn-success btn-sm">Close</button>
		</Footer>
	</AlertMessage>

	<AlertMessage MessageText="Succesfull message...."
								Type="AlertMessageType.Error">
		<Footer>
			<a class="btn btn-error btn-sm" href="#">Go to Edit</a>
			<button class="btn btn-error btn-sm">Close</button>
		</Footer>
	</AlertMessage>

	<AlertMessage MessageText="Succesfull message...."
								Type="AlertMessageType.Warning">
		<Footer>
			<a class="btn btn-warning btn-sm" href="#">Go to Edit</a>
			<button class="btn btn-warning btn-sm">Close</button>
		</Footer>
	</AlertMessage>

	<AlertMessage MessageText="Succesfull message...."
								Type="AlertMessageType.Info">
		<Footer>
			<a class="btn btn-info btn-sm" href="#">Go to Edit</a>
			<button class="btn btn-info btn-sm">Close</button>
		</Footer>
	</AlertMessage>
</div>