@inject IAuthService AuthService

<MudNavMenu>
	<AuthorizeView>
		<Authorized>
			<MudNavGroup Title="@context.User.GetUserName()" Expanded="true">
				@if (RendererInfo.Name == "WebView")
				{
					<MudButton Variant="Variant.Filled" ButtonType="ButtonType.Button" OnClick="Logout">Logout</MudButton>
				}
				else
				{
					<form action="account/logout" method="post">
						<AntiforgeryToken />
						<MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit">Logout</MudButton>
					</form>
				}
			</MudNavGroup>
		</Authorized>
		<NotAuthorized>
			@if (RendererInfo.Name == "WebView")
			{
				<MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Button" OnClick="Login">Login</MudButton>
			}
			else
			{
				<MudButton Href="account/login" Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Button">Login</MudButton>
			}
		</NotAuthorized>
	</AuthorizeView>

	<MudNavGroup Title="Home Lab" Expanded="true">
		<MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
		<MudNavLink Href="/about">About</MudNavLink>
		<MudNavLink Href="/blog">Blog</MudNavLink>
		<MudNavLink Href="/labs">Labs</MudNavLink>
	</MudNavGroup>

	<LabAuthorizeView LabPermissions="LabsPermissions.ConfigureSite">
		<Authorized>
			<MudNavGroup Title="Test Lab" Expanded="true">
				<MudNavLink Href="/current-user">Current User</MudNavLink>
				<MudNavLink Href="/test">Test</MudNavLink>
				<MudNavLink Href="/test2">Test 2</MudNavLink>
				<MudNavLink Href="/test3">Test 3</MudNavLink>
			</MudNavGroup>

			<MudNavGroup Title="Blog Lab" Expanded="true">
				<MudNavLink Href="/blog">Blog</MudNavLink>
				<MudNavLink Href="/blog/new">Create New</MudNavLink>
			</MudNavGroup>

			<MudNavGroup Title="User Lab" Expanded="true">
				<MudNavLink Href="/user-lab/manage/users">Lab Users</MudNavLink>
				<MudNavLink Href="/user-lab/manage/roles">Lab Roles</MudNavLink>
				<MudNavLink Href="/user-lab/manage/roles-permissions">Lab Roles Permissions</MudNavLink>
			</MudNavGroup>

			<MudNavGroup Title="Auth0 Lab" Expanded="true">
				<MudNavLink Href="/auth0-lab/manage/users">Auth0 Users</MudNavLink>
				<MudNavLink Href="/auth0-lab/manage/permissions">Auth0 Permissions</MudNavLink>
			</MudNavGroup>
		</Authorized>
	</LabAuthorizeView>

	<MudNavGroup Title="Site Settings" Expanded="true">
		<MudNavLink Href="">Theme</MudNavLink>
		<MudNavLink Href="">Overlay Content</MudNavLink>
	</MudNavGroup>

</MudNavMenu>


@code {
	async Task Login()
	{
		await AuthService.AuthenticateAsync();
	}

	async void Logout()
	{
		await AuthService.DeAuthenticateAsync();
	}
}


