<li>
  <NavLink Href="" Match="NavLinkMatch.All">Home</NavLink>
</li>
<li>
  <NavLink Href="about" Match="NavLinkMatch.All">About</NavLink>
</li>
<li>
  <NavLink Href="blog" Match="NavLinkMatch.All">Blog</NavLink>
</li>
<li>
  <NavLink Href="labs" data-enhance-nav="false" Match="NavLinkMatch.All">Labs</NavLink>
</li>