@code {
  [Parameter]
  [EditorRequired]
  public bool Show { get; set; } = false;
}

<SectionContent SectionName="nav-loading">
  @if (Show)
  {
    <div class="tw-absolute tw-left-full tw-top-0 tw-h-1 tw-w-full tw-bg-base-100 tw-animate-[leftToRightLoading_1.3s_0s_ease-in-out_infinite]"></div>
  }
</SectionContent>