@code
{
	[Parameter, EditorRequired]
	public required string Title { get; set; }

	[Parameter]
	public bool IsLoading { get; set; }

	[Parameter]
	public bool ShowOverlay { get; set; }
}

<div class="flex flex-col gap-1">
	<h3 class="text-2xl italic font-bold">
		@Title
	</h3>
	<div class="tw-bg-gradient-to-r tw-from-primary tw-via-purple-500 tw-to-pink-500 relative h-0.5 overflow-hidden">
		@if (IsLoading)
		{
			<div class="absolute -left-full top-0 h-0.5 w-full bg-base-100 animate-[leftToRightLoading_1.3s_0s_ease-in-out_infinite]"></div>
		}
	</div>
</div>

@if (IsLoading && ShowOverlay)
{
	<div class="absolute inset-0 bg-black/20"></div>
}
