<li>
	<details class="space-y-1" open>
		<summary>
			<span>
				<span class="font-bold">Blog Lab</span>
			</span>
		</summary>
		<ul class="space-y-1">
			<li>
				<NavLink Href="blog" Match="NavLinkMatch.All">Blog</NavLink>
			</li>
			<LabAuthorizeView LabPermissions="LabsPermissions.BlogOwner">
				<Authorized>
					<li>
						<NavLink Href="blog/new" Match="NavLinkMatch.Prefix">Create New</NavLink>
					</li>
				</Authorized>
			</LabAuthorizeView>
		</ul>
	</details>
</li>