<LabAuthorizeView LabPermissions="LabsPermissions.None">
	<Authorized>
		<li>
			<details class="space-y-1" open>
				<summary>
					<span>
						<span class="font-bold">User Lab</span>
					</span>
				</summary>
				<ul class="space-y-1">
					<li>
						<NavLink Href="user-lab/manage/users" Match="NavLinkMatch.Prefix">Lab Users</NavLink>
					</li>
					<li>
						<NavLink Href="user-lab/manage/roles" Match="NavLinkMatch.Prefix">Lab Roles</NavLink>
					</li>
					<li>
						<NavLink Href="user-lab/manage/roles-permissions" Match="NavLinkMatch.Prefix">Lab Roles Permissions</NavLink>
					</li>
				</ul>
			</details>
		</li>
	</Authorized>
</LabAuthorizeView>
