<li>
	<NavLink Href="" Match="NavLinkMatch.All">Home</NavLink>
</li>
<li>
	<NavLink Href="about" Match="NavLinkMatch.Prefix">About</NavLink>
</li>
<li>
	<NavLink Href="current-user" Match="NavLinkMatch.Prefix">Current User</NavLink>
</li>
<li>
	<NavLink Href="test" Match="NavLinkMatch.Prefix">Test 1 Page</NavLink>
</li>
<li>
	<NavLink Href="test2" Match="NavLinkMatch.Prefix">Test 2 Page</NavLink>
</li>
<li>
	<NavLink Href="test3" Match="NavLinkMatch.Prefix">Test 3 Page</NavLink>
</li>