@typeparam T

@code {
	[Parameter]
	[EditorRequired]
	public required PagedList<T> PagedList { get; set; }

	[Parameter]
	public string PageNumberQueryName { get; set; } = "page";

	[Inject]
	private NavigationManager Navigation { get; set; } = default!;

	private string getNavigationPageLink(int page)
	{
		var linkUri = Navigation.GetUriWithQueryParameter(PageNumberQueryName, page);

		return Navigation.ToBaseRelativePath(linkUri);
	}
}

<nav aria-label="page navigation" class="tw-join tw-justify-end">
	@if (PagedList.HasPreviousPage)
	{
		<NavLink class="tw-join-item tw-btn tw-btn-sm"
						 href="@getNavigationPageLink(PagedList.PageNumber - 1)">
			Previous
		</NavLink>
	}

	<button class="tw-join-item tw-btn tw-btn-disabled tw-btn-sm" type="button">
		Page
		<span class="tw-text-primary">
			<strong>@PagedList.PageNumber</strong>
		</span>
		<span>
			/ @PagedList.TotalPages
		</span>
	</button>

	@if (PagedList.HasNextPage)
	{
		<NavLink class="tw-join-item tw-btn tw-btn-sm"
						 href="@getNavigationPageLink(PagedList.PageNumber + 1)">
			Next
		</NavLink>
	}
</nav>