@page "/labs"

<PageTitle>Labs</PageTitle>

<MudCard Class="my-4">
	<MudCardContent>
		<MudText Class="mb-4" Typo="Typo.h4">
			My lab account
		</MudText>
		<LabAuthorizeView>
			<UserAvatarDetailsView AvatarImage="@context.User.GetProfilePicture()"
														 UserName="@context.User.GetUserName()"
														 Email="@context.User.GetEmail()" />
		</LabAuthorizeView>
	</MudCardContent>
	<MudCardActions Class="justify-end">
		<LoginLogoutButton />
	</MudCardActions>
</MudCard>

<MudCard Class="my-4">
	<MudCardContent>
		<div class="mb-4">
			<MudText Typo="Typo.h6">
				Labs
			</MudText>
			<MudText Typo="Typo.body1">
				This section represents the different labs currently available.
			</MudText>
		</div>
		<MudGrid Spacing="2">
			<MudItem xs="12">
				<MudCard>
					<MudCardContent>
						<MudText Typo="Typo.h6">
							Pick Your First Module Lab!
						</MudText>
						<MudText Typo="Typo.body1">
							Hey there! I'm working on some cool new modules. Which one should I build first? Let me know your thoughts!
						</MudText>
					</MudCardContent>
					<MudCardActions Class="justify-end">
						<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">
							Enter Lap
						</MudButton>
					</MudCardActions>
				</MudCard>
			</MudItem>
		</MudGrid>
	</MudCardContent>
</MudCard>

<MudCard Class="my-4">
	<MudCardContent>
		<div class="mb-4">
			<MudText Typo="Typo.h6">
				Labs
			</MudText>
			<MudText Typo="Typo.body1">
				This section represents the different labs currently available.
			</MudText>
		</div>
		<MudGrid Spacing="2">
			<MudItem xs="12">
				<MudCard>
					<MudCardContent>
						<MudText Typo="Typo.h6">
							Pick Your First Module Lab!
						</MudText>
						<MudText Typo="Typo.body1">
							Hey there! I'm working on some cool new modules. Which one should I build first? Let me know your thoughts!
						</MudText>
					</MudCardContent>
					<MudCardActions Class="justify-end">
						<MudButton Variant="Variant.Filled" Color="Color.Primary">
							Enter Lap
						</MudButton>
					</MudCardActions>
				</MudCard>
			</MudItem>
		</MudGrid>
	</MudCardContent>
</MudCard>

<MudCard Class="my-4">
	<MudCardContent>
		<div class="mb-4">
			<MudText Typo="Typo.h6">
				Labs
			</MudText>
			<MudText Typo="Typo.body1">
				This section represents the different labs currently available.
			</MudText>
		</div>
		<MudGrid Spacing="2">
			<MudItem xs="12">
				<MudCard>
					<MudCardContent>
						<MudText Typo="Typo.h6">
							Pick Your First Module Lab!
						</MudText>
						<MudText Typo="Typo.body1">
							Hey there! I'm working on some cool new modules. Which one should I build first? Let me know your thoughts!
						</MudText>
					</MudCardContent>
					<MudCardActions Class="justify-end">
						<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">
							Enter Lap
						</MudButton>
					</MudCardActions>
				</MudCard>
			</MudItem>
		</MudGrid>
	</MudCardContent>
</MudCard>