@page "/labs/404"

@code {
	[Parameter]
	[SupplyParameterFromQuery]
	public string? Path { get; set; }

	[Inject]
	public required NavigationManager Navigation { get; set; }
}

<MudPaper Class="pa-2">
	<MudBlazor.MudAlert Severity="MudBlazor.Severity.Error">
		404
		<p>@Path</p>
	</MudBlazor.MudAlert>
</MudPaper>