@inject IAuthService AuthService

<AuthorizeView>
  <NotAuthorized>
    <div class="flex flex-col p-1">
      @if (RendererInfo.Name == "WebView")
      {
        <button class="btn btn-block bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white" @onclick="Login">
          Login
        </button>
      }
      else
      {
        <a href="account/login" class="btn btn-block bg-gradient-to-r from-primary via-purple-500 to-pink-500 text-white">
          <span class="font-bold italic text-xl">Login</span>
        </a>
      }
    </div>
  </NotAuthorized>
</AuthorizeView>

@code
{
  public async Task Login()
  {
    await AuthService.AuthenticateAsync();
  }
}