@inherits LayoutComponentBase
@inject NavigationManager Navigation

<main class="group flex h-full flex-col">
  <!-- Top Header -->
  <NavBar />

  <div class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 relative h-1 overflow-hidden">
    <SectionOutlet SectionName="nav-loading"></SectionOutlet>
  </div>

  <main class="flex-1 relative flex overflow-hidden" id="main-body">
    <!-- Side Drawer Content -->
    <NavMenu />

    <!-- Body Content -->
    <div class="flex-1 relative flex flex-col overflow-hidden">
      <div class="h-full overflow-auto scroller">
        <div class="p-2 flex flex-col gap-2">
          @* <div id="dev-temp-warning">
            <AlertMessage Type="AlertMessageType.Warning" >
              <Body>
                <p>
                  This is a <strong>TEST</strong> site intended for deployment testing and setup verification.
                  It is not suitable for production use.
                  Features, data, and configurations may change or be removed without notice.
                </p>
              </Body>
              <Footer>
                <button class="btn btn-warning btn-sm" onclick="document.getElementById('dev-temp-warning').remove()">Close</button>
              </Footer>
            </AlertMessage>
          </div> *@

          @Body
        </div>
      </div>
    </div>
  </main>

  <!-- Bottom Footer -->
  <footer class="text-center text-xs">© 2024 Fadi Ksho | Built with ❤ using .NET @Environment.Version.Major & Blazor</footer>
</main>

<div id="blazor-error-ui" class="bg-error text-white">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

<PageScript Src="@($"./_content/Shared.Components/Layout/MainLayout.razor.js")" />

