<div class="navbar bg-base-300">
	<NavMenuButton />

	<div class="mx-2 mr-auto px-2">
		<p class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 bg-clip-text text-transparent text-3xl font-bold italic">
			Fadi Labs
		</p>
	</div>

	<div class="flex-1 justify-end overflow-hidden">
		<ul class="menu menu-horizontal px-1 py-0">
			<!-- Navbar menu content here -->
			@* <li><a>Navbar Item 1</a></li> *@
		</ul>
	</div>

	@* <ThemeControllerButton /> *@
</div>