<div id="navMenuContainerId"
		 class="z-10 transition-margin bg-base-300 absolute inset-0 -ml-60 flex w-60 flex-col">

	<LogInButton />

	<div class="flex-1 overflow-auto scroller">
		<ul class="menu gap-1 bg-base-200">
			<NavMenuLoginItem />
			<li>
				<NavLink Href="" Match="NavLinkMatch.All">Home</NavLink>
			</li>
			<li>
				<NavLink Href="about" Match="NavLinkMatch.Prefix">About</NavLink>
			</li>
			<li>
				<details class="space-y-1" open>
					<summary>
						<span>
							<span class="font-bold">Blog Lab</span>
						</span>
					</summary>
					<ul class="space-y-1">
						<li>
							<NavLink Href="blog" Match="NavLinkMatch.All">Blog</NavLink>
						</li>
						<LabAuthorizeView LabPermissions="LabsPermissions.BlogOwner">
							<Authorized>
								<li>
									<NavLink Href="blog/new" Match="NavLinkMatch.Prefix">Create New</NavLink>
								</li>
							</Authorized>
						</LabAuthorizeView>
					</ul>
				</details>
			</li>
			<NavMenuUserLabItem />
			<NavMenuAuth0LabItem />
		</ul>
	</div>
	<ul class="menu gap-2 bg-base-200">
		<li>
			<details class="space-y-1" open>
				<summary>
					<span class="menu-dropdown-toggle menu-dropdown-show">
						<span>
							<span class="font-bold">Site Settings</span>
						</span>
					</span>
				</summary>
				<ul class="space-y-1">
					<li>
						<label for="expandNavSideMenuId"
									 class="justify-start flex items-center">

							<span class="flex-1">
								Expand Content
							</span>
							<!--Checked True  (Expand)-->
							<!--Checked False (Overlay)-->
							<input type="checkbox"
										 class="checkbox checkbox-sm"
										 id="expandNavSideMenuId" />
						</label>
					</li>
					<li>
						<label class="justify-start flex items-center">

							<span class="flex-1">
								Theme
							</span>

							<span class="swap swap-rotate">
								<!-- this hidden checkbox controls the theme state -->
								<input id="themeCheckBoxId" type="checkbox" class="theme-controller" />

								<!-- sun icon -->
								<svg class="swap-off h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" />
								</svg>

								<!-- moon icon -->
								<svg class="swap-on h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
								</svg>
							</span>
						</label>
					</li>
				</ul>
			</details>
		</li>
	</ul>
</div>

<!--Overlay-->
<label for="sideMenuToggleId"
				id="navSideMenuOverlayId"
			 class="bg-black/70 z-[9] absolute inset-0 hidden">
</label>
