<div id="navMenuContainerId"
		 class="z-10 transition-margin bg-base-300 absolute inset-0 -ml-60 flex w-60 flex-col">

	<LogInButton />

	<div class="flex-1 overflow-auto scroller">
		<ul class="menu gap-1 bg-base-200">
			<NavMenuLoginItem />
			<NavMenuHomeItem />
			<NavMenuBlogLabItem />
			<NavMenuUserLabItem />
			<NavMenuAuth0LabItem />
			<NavMenuSettingItem />
		</ul>
	</div>
	@* <ul class="menu gap-2 bg-base-200">
		<NavMenuSettingItem />
	</ul> *@
</div>

<!--Overlay-->
<label for="sideMenuToggleId"
			 id="navSideMenuOverlayId"
			 class="bg-black/70 z-[9] absolute inset-0 hidden">
</label>
