<li>
	<details class="space-y-1" open>
		<summary>
			<span>
				<span class="font-bold">Auth0 Lab</span>
			</span>
		</summary>
		<ul class="space-y-1">
			<li>
				<NavLink Href="auth0-lab/manage/users" Match="NavLinkMatch.Prefix">Users</NavLink>
			</li>
			<li>
				<NavLink Href="auth0-lab/manage/permissions" Match="NavLinkMatch.Prefix">Permissions</NavLink>
			</li>
		</ul>
	</details>
</li>