<li>
	<details class="space-y-1" open>
		<summary>
			<span>
				<span class="font-bold">Test Lab</span>
			</span>
		</summary>
		<ul class="space-y-1">
			<li>
				<NavLink Href="current-user" Match="NavLinkMatch.Prefix">Current User</NavLink>
			</li>
			<li>
				<NavLink Href="test" Match="NavLinkMatch.Prefix">Test 1 Page</NavLink>
			</li>
			<li>
				<NavLink Href="test2" Match="NavLinkMatch.Prefix">Test 2 Page</NavLink>
			</li>
			<li>
				<NavLink Href="test3" Match="NavLinkMatch.Prefix">Test 3 Page</NavLink>
			</li>
		</ul>
	</details>
</li>