@page "/about"

<PageTitle>About</PageTitle>

<div class="tw-bg-gradient-to-tl tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-relative tw-p-1 tw-max-w-xl tw-mx-auto tw-mt-8 tw-animate-fade-up" data-observer-animate data-permanent>
	<div class="tw-bg-base-100 tw-shadow-lg tw-shadow-primary/20 tw-space-y-6 tw-p-4">
		<div class="tw-absolute tw-left-1/2 tw-top-0 tw--translate-x-1/2 tw--translate-y-1/2">
			<img class="tw-w-24 tw-h-24 tw-rounded-full" src="@Assets["_content/Shared.Components/favicon.png"]" />
		</div>
		<div class="tw-space-y-8 tw-overflow-hidden">
			<h1 class="tw-text-4xl tw-text-center">
				Hi!👋 I'm <span class="tw-text-primary tw-italic">Fadi</span> 😎
			</h1>
			<div class="tw-bg-black tw-text-center">
				<code class="tw-inline-block tw-align-middle tw-text-lg tw-overflow-hidden tw-text-green-600 tw-p-1">
					I'm a Programmer who enjoys a midnight coffee☕.<span class="tw-text-white tw-font-bold tw-animate-ping tw-animate-infinite animate-duration-700">|</span>
				</code>
			</div>
		</div>
	</div>
</div>

<!-- About Me ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="tw-mx-6 tw-my-12" data-permanent>
	<div class="tw-bg-gradient-to-tl tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-relative tw-p-1 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up tw-group" data-observer-animate>
		<div class="tw-bg-base-100 tw-shadow-lg shadow-primary/20 tw-space-y-6 tw-p-4">
			<span class="tw-bg-gradient-to-r tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-text-white tw-absolute tw-top-0 tw-left-0 tw--translate-y-1/2 tw-py-2 tw-px-4 tw-cursor-help tw-text-base tw-transition tw-origin-left tw-delay-500 group-[.animate]:tw-rotate-[-10deg]">
				About Me
			</span>
			<p class="tw-text-secondary tw-text-lg tw-font-bold tw-underline tw-underline-offset-4">
				Firstly, thank you for taking the time to learn about me :)
			</p>
			<section class="tw-italic tw-space-y-4">
				<p class="">
					I am a software developer based in Sweden with a strong passion for web technology. My main focus is on C#/.NET
					as I strive to master both front-end and back-end development.
				</p>
				<p class="">
					In my `productive` free time, I immerse myself in watching conferences and reading blogs about the latest tech.
					During my leisure hours, I find joy in reading novels, playing FPS games, and watching movies and TV series,
					all while patiently waiting for the next cup of coffee as too much is not good🤞.
				</p>
				<p class="">
					Additionally, I dedicate time to working on programming projects, fueling my passion for technology.
					Nevertheless, I strive to find enjoyment with what I do, whether I consider it productive or not.
				</p>
			</section>
		</div>
	</div>
</section>

<!-- Programming Journey ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="tw-mx-auto tw-my-12 tw-max-w-screen-lg" data-permanent>
	<div class="tw-bg-gradient-to-tl tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-relative tw-p-1 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade tw-group"
			 data-observer-animate>
		<div class="tw-bg-base-100 tw-shadow-lg tw-shadow-primary/20">
			<span class="tw-bg-gradient-to-r tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-text-white tw-font-bold tw-absolute tw-top-0 tw-left-0 tw--translate-y-1/2 tw-py-2 tw-px-4 tw-cursor-help tw-transition tw-origin-left tw-delay-500 group-[.animate]:tw-rotate-[-10deg]">
				Programming Journey.
			</span>
			<p class="tw-text-2xl tw-px-4 tw-py-10 tw-bg-gradient-to-r tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-text-white">
				From coding challenges to professional growth,
				join me in navigating the dynamic world of software development.
				<span class="tw-text-2xl">TLDR;</span> (3~4 min).
			</p>

			<div class="tw-space-y-14 tw-p-2">
				<!-- Programming Journey Chapter 1 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="tw-flex tw-flex-col tw-gap-2 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up" data-observer-animate>
					<p class="tw-p-2 tw-self-start text-secondary tw-text-lg">
						🌱 Where it all started 1/5.
					</p>

					<ul class="tw-list-disc tw-ml-6 tw-space-y-2 tw-marker:tw-text-primary">
						<li>
							Late-night candlelight, a cup of coffee to keep me awake, and no computer or electricity, just a book about programming, attempting to make sense out of it all.
						</li>
						<li>
							At 17, I thought catching up to those amazing programmers was impossible. Surprise, I eventually did—kind of. While infinity may be unreachable, I'm steadily approaching.
						</li>
						<li>
							Thinking back to those days, exhaustion was a foreign concept. I took pride in running "Hello, World!" despite some tech hiccups. It just reminded me that I had a lot to learn to catch up with the wider programming world. But hey, I was young and sure about what I wanted to be: a smart-*** developer, because who wouldn't want to be one, right?
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 2 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="tw-flex tw-flex-col tw-gap-2 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up" data-observer-animate>
					<p class="tw-p-2 tw-self-start text-secondary tw-text-lg">
						👀 People Can see your passion 2/5.
					</p>

					<ul class="tw-list-disc tw-ml-6 tw-space-y-2 tw-marker:tw-text-primary">
						<li>
							With a strong passion and an opportunity that presented itself, I found my first job with the title of Entry Level Application Developer. There, I received training in C# and experienced the diverse world of programming, from building web applications to developing games with Unity and cross-platform mobile applications with Xamarin.
						</li>
						<li>
							Despite this, I still managed to balance my professional growth with my studies as a Computer Systems Engineer at university.
						</li>
						<li>
							I also made time for another passion of mine, playing basketball 🏀.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 3 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="tw-flex tw-flex-col tw-gap-2 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up" data-observer-animate>
					<p class="tw-p-2 tw-self-start text-secondary tw-text-lg">
						🌅 Reflections on Progress 3/5.
					</p>

					<ul class="tw-list-disc tw-ml-6 tw-space-y-2 tw-marker:tw-text-primary">
						<li>
							Starting anew in Sweden, it feels like a new life, a fresh beginning. It's like hitting the reset button and embarking on a journey of starting all over again.
						</li>
						<li>
							Life moved fast; after completing an IT training in Sweden, I secured a job under the title System Developer, a role that not only expanded my technical knowledge but also provided valuable life experiences and instilled a sense of responsibility.
						</li>
						<li>
							At this point, I find myself at an age similar to someone who has just graduated, equipped with a blend of academic studies and work experience. Yet, despite these accomplishments, there lingers a sense of having lifted a heavy weight, prompting me to reflect on what might be missing.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 4 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="tw-flex tw-flex-col tw-gap-2 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up" data-observer-animate>
					<p class="tw-p-2 tw-self-start text-secondary tw-text-lg">
						🔄 A Restart is needed 4/5.
					</p>

					<ul class="tw-list-disc tw-ml-6 tw-space-y-2 tw-marker:tw-text-primary">
						<li>
							Similar to a memory leak in a program that goes unnoticed, the fatigue accumulated over the years as I kept running non-stop. A health break became a necessity.
						</li>
						<li>
							After a crucial break, my health restored, but not all the memory leaked. This marks a pivotal restart, driven by a commitment to be the best, optimizing every aspect for the road ahead.
						</li>
					</ul>
				</div>

				<!-- Programming Journey Chapter 5 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="tw-flex tw-flex-col tw-gap-2 tw-opacity-0 [&.animate]:tw-opacity-100 [&.animate]:tw-animate-fade-up" data-observer-animate>
					<p class="tw-p-2 tw-self-start tw-text-secondary tw-text-lg">
						🌄 The Beginning after the end 5/5.
					</p>
					<ul class="tw-list-disc tw-ml-6 tw-space-y-2 tw-marker:tw-text-primary">
						<li>
							Yet again, this feels like a new start, but is it really? Armed with experience and knowledge of past mistakes, unlike before, I am committed to documenting the journey until the next beginning unfolds.
						</li>
						<li>
							The journey continues, writing its story until something interesting happens...
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<PageScript Src="@($"./_content/Modules.Home.Components/StaticPages/About.razor.js")" />