<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<ImportMap />
	<link href="@Assets["_content/Shared.Components/favicon.png"]" rel="icon" type="image/png" />
	<link href="@Assets["_content/Shared.Components/app.css"]" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
	<HeadOutlet @rendermode="@PageRenderMode" />
	<SectionOutlet SectionName="head" />
</head>
<body>
	<Routes @rendermode="@PageRenderMode"/>

	<script src="_framework/blazor.web.js"></script>

	<SectionOutlet SectionName="scripts" />
	
</body>
</html>

@code {
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	private IComponentRenderMode? PageRenderMode
			=> HttpContext.AcceptsInteractiveRouting() ? InteractiveAuto : null;
}