<Router AppAssembly="typeof(Program).Assembly">
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="routeData" Resource="routeData" DefaultLayout="typeof(MainLayout)" >
      <Authorizing>
        <p>Authorizing...</p>
      </Authorizing>
      <NotAuthorized>
        <p>Not Authorized Component!</p>
      </NotAuthorized>
    </AuthorizeRouteView>
    <FocusOnNavigate RouteData="routeData" Selector="h1" />
  </Found>
  <NotFound>
    <LayoutView Layout="typeof(Shared.Components.Layout.MainLayout)">
      <h1>not found component</h1>
    </LayoutView>
  </NotFound>
</Router>